* {
  margin: 0;
  padding: 0;
  outline: 0 !important;
}

body {
  background-color: var(--bg-color1, #f5f5f5);
  font-family:
    'PingFang SC', 'Helvetica Neue', 'yahei', Helvetica, 'microsoft yahei', arial, STHeiTi,
    sans-serif;
}

a {
  text-decoration: none;
}
i {
  font-style: normal;
}
.iconfont {
  margin-right: 5px;
}
