:root {
  --color-primary: #819d60;
  --text-color-primary: #819d60;
  --bg-color: #fcf2f0;
  --menu-active-text-color: #d68262;
  --menu-hover-bg: #faede7;

  --el-menu-text-color: var(--text-color-primary);
  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-hover-bg-color: var(--menu-hover-bg);
  --el-menu-bg-color: var(--bg-color);

  --el-dropdown-menuItem-text-color: var(--text-color-primary);
  --el-tabs-item-color: var(--text-color-primary);
}

.grape {
  --color-primary: #e073a9;
  --text-color-primary: #8e7f86;
  --bg-color: #e9e5fa;
  --menu-active-text-color: #e073a9;
  --menu-hover-bg: #f4f2fb;

  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--bg-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
  --el-tabs-item-color: var(--text-color-primary);
}
.blusky {
  --color-primary: #356b9e;
  --text-color-primary: #677fac;
  --bg-color: #a7c7f1;
  --menu-active-text-color: #3461ae;
  --menu-hover-bg: #b7cdec;

  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--bg-color);
  --el-dropdown-menuItem-hover-fill: var(--menu-hover-bg);
  --el-dropdown-menuItem-hover-color: var(--menu-active-text-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
}
.water {
  --color-primary: #587589;
  --text-color-primary: #587589;
  --bg-color: #cce7e0;
  --menu-active-text-color: #67a0c0;
  --menu-hover-bg: #e5f4ee;

  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--bg-color);
  --el-dropdown-menuItem-hover-fill: var(--menu-hover-bg);
  --el-dropdown-menuItem-hover-color: var(--menu-active-text-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
}
.momo {
  --color-primary: #71361d;
  --text-color-primary: #865d34;
  --bg-color: #bea78b;
  --menu-active-text-color: #f9e8d4b9;
  --menu-hover-bg: #b3987a;

  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--bg-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
}
.dark {
  --color-primary: #ffffff;
  --text-color-primary: #ffffff;
  --bg-color: #1a1a1a;
  --menu-active-text-color: #409eff;
  --menu-hover-bg: #2d2d2d;

  --el-menu-bg-color: var(--bg-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-hover-bg-color: var(--menu-hover-bg);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
}

// 统一图标颜色
:deep(.el-icon),
:deep(.iconfont) {
  color: var(--text-color-primary) !important;
}
// 面包屑文字颜色
:deep(.el-breadcrumb__inner) {
  color: var(--text-color-primary) !important;
}
.el-menu {
  // 末级菜单项激活状态
  :deep(.el-menu-item.is-active) {
    .iconfont {
      color: var(--el-menu-active-color) !important; // 图标同步激活色
    }
  }

  // 父级菜单（即使处于展开状态）保持默认颜色
  :deep(.el-sub-menu) {
    .el-sub-menu__title .iconfont {
      color: var(--el-menu-text-color) !important; // 强制使用默认文字颜色
    }
  }
}

.el-tabs {
  &__item {
    color: var(--text-color-primary);
  }
  // 激活状态
  :deep(.el-tabs__item.is-active) {
    color: var(--menu-active-text-color) !important;
    background-color: var(--menu-hover-bg) !important;
    .iconfont {
      color: var(--menu-active-text-color) !important;
    }
    .is-icon-close {
      color: var(--menu-active-text-color) !important;
    }
  }

  // 悬停状态
  :deep(.el-tabs__item:not(.is-active):hover) {
    color: var(--text-color-primary) !important;
    background-color: var(--menu-hover-bg) !important;
  }

  // 激活项悬停保持原色
  :deep(.el-tabs__item.is-active:hover) {
    color: var(--menu-active-text-color) !important;
  }
}
.el-dropdown-menu {
  :deep(.el-dropdown-menu__item) {
    color: var(--el-dropdown-menuItem-text-color) !important;
    &:hover {
      background-color: var(--bg-color) !important;
      color: var(--menu-active-text-color) !important ;
    }
  }
}
