:root {
  --color-primary: #e0a2aa;
  --text-color-primary: #c68280;
  --bg-color: #fbced3;
  --aside-bg-color: #fbced3;
  --header-bg-color: #fbced3;
  --menu-active-text-color: #f67a95;
  //菜单hover颜色
  --menu-hover-bg: #fce4e9;
  //el-tabs标签页悬浮颜色
  --menu-hover-bg2: #f5f4f4;
  //el-tabs激活背景色
  --menu-bg2: #fce4e9;
  //评分颜色
  --rate-color: #e0a2aa;
  //表格悬浮颜色
  --table-hover-color: #f5f7fa;
  //实心按钮颜色
  --button-color: #fce4e9;
  //表格操作项按钮颜色
  --type-primary-color: #ecf5ff;
  --type-danger-color: #fef0f0;

  --el-menu-text-color: var(--text-color-primary);
  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-hover-bg-color: var(--menu-hover-bg);
  --el-menu-bg-color: var(--aside-bg-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
  --el-tabs-item-color: var(--text-color-primary);
  --el-button-text-color: var(--color-primary);
  --el-button-hover-bg-color: var(--bg-color);
}
.grape {
  --color-primary: #d8d3f1;
  --text-color-primary: #8e7f86;
  --bg-color: #d8d3f1;
  --aside-bg-color: #d8d3f1;
  --header-bg-color: #d8d3f1;
  --menu-active-text-color: #f090c0;
  --menu-hover-bg: #e4def6;
  --menu-hover-bg2: #f5f4f4;
  --menu-bg2: #e4def6;
  --rate-color: #c1b7eb;
  --button-color: #e4def6;

  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--aside-bg-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
  --el-tabs-item-color: var(--text-color-primary);
}
.blusky {
  --color-primary: #a7c7f1;
  --text-color-primary: #677fac;
  --bg-color: #a7c7f1;
  --aside-bg-color: #a7c7f1;
  --header-bg-color: #a7c7f1;
  --menu-active-text-color: #5b89d8;
  --menu-hover-bg: #b7cdec;
  --menu-hover-bg2: #f5f4f4;
  --menu-bg2: #b7cdec;
  --rate-color: #a7c7f1;
  --button-color: #b7cdec;

  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--aside-bg-color);
  --el-dropdown-menuItem-hover-fill: var(--menu-hover-bg);
  --el-dropdown-menuItem-hover-color: var(--menu-active-text-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
}
.water {
  --color-primary: #cce7e0;
  --text-color-primary: #587589;
  --bg-color: #cce7e0;
  --aside-bg-color: #cce7e0;
  --header-bg-color: #cce7e0;
  --menu-active-text-color: #67a0c0;
  --menu-hover-bg: #d8f5ea;
  --menu-hover-bg2: #f5f4f4;
  --menu-bg2: #d8f5ea;
  --rate-color: #84b5d1;
  --button-color: #d8f5ea;
  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--aside-bg-color);
  --el-dropdown-menuItem-hover-fill: var(--menu-hover-bg);
  --el-dropdown-menuItem-hover-color: var(--menu-active-text-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
}
.momo {
  --color-primary: #bea78b;
  --text-color-primary: #906b46;
  --bg-color: #bea78b;
  --aside-bg-color: #bea78b;
  --header-bg-color: #bea78b;
  --menu-active-text-color: #644c24e7;
  --menu-hover-bg: #b3987a;
  --menu-hover-bg2: #f5f4f4;
  --menu-bg2: #b3987a;
  --rate-color: #bea78b;
  --button-color: #b3987a;
  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--aside-bg-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
}
.gaoji {
  --color-primary: #06b1bd;
  --text-color-primary: #303133;
  --bg-color: #06b1bd;
  --aside-bg-color: #ffffff;
  --header-bg-color: #f9f3ef;
  --active-color: #edf3fe;
  --menu-active-text-color: #4e88f3;
  --menu-hover-bg: #edf3fe;
  --menu-hover-bg2: #f2f2f2;
  --menu-bg2: #d4eef0;
  --border-color: #e4e7ed;
  --rate-color: #f9e9be;
  --button-color: #3c7eff;
  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-bg-color: var(--aside-bg-color);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);

  :deep(.el-tabs__item.is-active) {
    background-color: var(--active-color) !important;
  }
}

.dark {
  --color-primary: #ffffff;
  --text-color-primary: #ffffff;
  --bg-color: #232324;
  --aside-bg-color: #232324;
  --header-bg-color: #232324;
  --menu-active-text-color: #3c7eff;
  --menu-hover-bg: #2d2d2d;
  --menu-hover-bg2: #2d2d2d;
  --menu-bg2: #2d2d2d;
  --rate-color: #ffffff;
  --button-color: #3c7eff;
  --el-menu-bg-color: var(--bg-color);
  --el-menu-text-color: var(--text-color-primary);
  --el-menu-active-color: var(--menu-active-text-color);
  --el-menu-hover-bg-color: var(--menu-hover-bg);
  --el-dropdown-menuItem-text-color: var(--text-color-primary);
  --message-panel-bg: #232324;
  --message-panel-text: #ffffff;
  --border-color: #333335;
  --bg-color1: #3a3a3d;
  --table-hover-color: #262727;
  --type-primary-color: #18222c;
  --type-danger-color: #2b1d1d;
  .el-card {
    background-color: var(--bg-color);
  }
}

// 统一图标颜色
:deep(.el-icon),
:deep(.iconfont) {
  color: var(--text-color-primary) !important;
}
// 面包屑文字颜色
:deep(.el-breadcrumb__inner) {
  color: var(--text-color-primary) !important;
}
.el-menu {
  // 末级菜单项激活状态
  :deep(.el-menu-item.is-active) {
    background-color: var(--active-color);
    .iconfont {
      color: var(--el-menu-active-color) !important; // 图标同步激活色
    }
  }

  // 父级菜单（即使处于展开状态）保持默认颜色
  :deep(.el-sub-menu) {
    .el-sub-menu__title .iconfont {
      color: var(--el-menu-text-color) !important; // 强制使用默认文字颜色
    }
  }
}

//标签页颜色
.el-tabs {
  &__item {
    color: var(--text-color-primary);
  }
  // 激活状态
  :deep(.el-tabs__item.is-active) {
    color: var(--menu-active-text-color) !important;
    background-color: var(--menu-bg2) !important;
    .iconfont {
      color: var(--menu-active-text-color) !important;
    }
    .is-icon-close {
      color: var(--menu-active-text-color) !important;
    }
  }

  // 悬停状态
  :deep(.el-tabs__item:not(.is-active):hover) {
    color: var(--text-color-primary) !important;
    background-color: var(--menu-hover-bg2) !important;
  }

  // 激活项悬停保持原色
  :deep(.el-tabs__item.is-active:hover) {
    color: var(--menu-active-text-color) !important;
  }
}
// 下拉框
.el-dropdown-menu {
  :deep(.el-dropdown-menu__item) {
    color: var(--el-dropdown-menuItem-text-color) !important;
    &:hover {
      background-color: var(--menu-bg2) !important;
      color: var(--menu-active-text-color) !important ;
      .el-icon {
        color: var(--menu-active-text-color) !important;
      }
      .iconfont {
        color: var(--menu-active-text-color) !important;
      }
    }
    &.is-disabled {
      color: #c0c4cc !important;
      cursor: not-allowed;
      opacity: 1; /* 覆盖默认的透明度 */
      .el-icon {
        color: var(--el-text-color-disabled, #c0c4cc) !important;
      }
      &:hover {
        background-color: transparent !important;
      }
    }
  }
}
//输入框
.el-input {
  --el-input-focus-border-color: var(--menu-active-text-color);
}
//选择框
:deep(.el-select__wrapper.is-focused) {
  box-shadow: 0 0 0 1px var(--menu-active-text-color) inset;
}
.el-select-dropdown__item.is-selected {
  color: var(--menu-active-text-color);
}

// 按钮
.el-button {
  color: var(--text-color-primary);
  &:hover {
    border-color: var(--menu-active-text-color);
    color: var(--text-color-primary);
  }
}
.el-button--primary {
  background-color: var(--menu-active-text-color) !important;
  border-color: var(--button-color) !important;
  color: #fff !important;
  :deep(.el-icon) {
    color: #fff !important;
  }
  &:hover {
    border-color: var(--menu-active-text-color) !important;
  }
}
//提示框
.el-message-box__close,
.el-message-box__headerbtn:hover .el-message-box__close {
  color: var(--menu-active-text-color);
}
// 分页颜色
.el-pagination.is-background .el-pager li {
  &.is-active {
    background-color: var(--menu-active-text-color);
  }
  &:not(.is-active):hover {
    color: var(--menu-active-text-color);
  }
}
//加载图标
.el-loading-spinner .path {
  stroke: var(--menu-active-text-color);
}
//表格悬浮
.el-table tbody tr:hover > td {
  background-color: var(--table-hover-color) !important;
}
//选择框
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: var(--menu-active-text-color);
}
.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: var(--menu-active-text-color);
  border-color: var(--menu-active-text-color);
}
.el-checkbox__inner:hover {
  border-color: var(--menu-active-text-color);
}
